@import './base.css';

#app {
  margin: auto;
  font-weight: normal;
}

.button-solid {
  background-color: var(--vt-c-primaryColor);
  color: var(--vt-c-white-soft);
  padding: 15px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  transition: 0.2s ease-out;
}

.button-outlined {
  background-color: var(--vt-c-white-soft);
  color: var(--vt-c-primaryColor);
  padding: 15px;
  border: solid 3px var(--vt-c-primaryColor);
  border-radius: 6px;
  font-size: 18px;
  transition: 0.2s ease-out;


}

a {
  text-decoration: none;
  color: var(--vt-c-primaryColor);
  transition: 0.2s;
  padding: 3px;
}

@media (hover: hover) {

  .button-solid:hover {
    cursor: pointer;
    background-color: var(--vt-c-primaryColorDarker);
  }

  .button-outlined:hover {
    cursor: pointer;
    background-color: var(--vt-c-primaryColorDarker);
  }
}

@media (max-width: 550px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
