@import './base.css';

#app {
  /*margin: auto;*/
  font-weight: normal;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.button-solid {
  background-color: var(--vt-c-primaryColor);
  color: var(--vt-c-white-soft);
  padding: 8px;
  border: none;
  border-radius: 6px;
  /*font-size: 18px;*/
  transition: 0.2s ease-out;
}

.button-outlined {
  background-color: var(--vt-c-white-soft);
  color: var(--vt-c-primaryColor);
  padding: 8px;
  border: solid 3px var(--vt-c-primaryColor);
  border-radius: 6px;
  /*font-size: 18px;*/
  transition: 0.2s ease-out;


}

a {
  text-decoration: none;
  color: var(--vt-c-primaryColor);
  transition: 0.2s;
  padding: 3px;
}

.pop-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;

  label {
    margin-bottom: 8px;
  }
  
  select {
    width: 100%;
  }

  input {
    margin: 0;
  }
}

.btn-confirmar-swal {
  background-color: var(--vt-c-primaryColor);
}

.deny-btn {
  background-color: var(--vt-c-white);
  color: var(--vt-c-primaryColor);
  border: solid 2px var(--vt-c-primaryColor);
}

@media (hover: hover) {

  .button-solid:hover {
    cursor: pointer;
    background-color: var(--vt-c-primaryColorDarker);
  }

  .button-outlined:hover {
    cursor: pointer;
    background-color: var(--vt-c-primaryColorDarker);
  }
}

@media (max-width: 550px) {
 

  #app {
    display: flex;
    flex-direction: column;
    height: 100%;
    
  }

}
